@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {

    /* colors */
    --white: #fff;
    --gray: #252525c5;
    --dark: #14001b;
    --darkviolet: #2C0735;
    --violet: #4e148c;
    --purple: #613DC1;
    --indigo: #858AE3;
    --azure: #97DFFC;
    --green: #0FFF50;
    --yellow: #CFFF04;
    --neonGreen: #39FF14;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--darkviolet);
    position: relative;
    overflow-x: hidden;
    font-family: "Readex Pro";
    height: 100%;
}


#scrollToTopBtn {
    display: none;
    position: fixed;
    font-size: 1rem;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--indigo);
    color: var(--azure);
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    animation: bounce 2s infinite;
}

#scrollToTopBtn:hover {
    background-color: var(--purple);
    /* Darker background on hover */
}

/* Bounce Animation */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.light-mode {
    background-color: var(--white)
}

.light-mode,
.light-mode img,
.light-mode video,
.light-mode canvas {
    filter: invert(95%) hue-rotate(180deg)
}

.wrapper {
    width: 100%;
    background-image: url(images/d3638313-742e-4227-8c11-a60694b9520b.jpg);
    display: block;
    z-index: 99999;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0
}

.container-fluid {
    margin: 0
}

.navbar {
    padding: 1rem;
    border-bottom: 1px solid var(--darkviolet);
}

.navbar-brand {
    font-size: 40px;
    font-weight: 800;
}

.navbar-toggler {
    background-color: none;
    border: none;
    background-color: var(--indigo);
    color: var(--purple);
    font-size: 1.5rem;
    font-weight: 900;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
    background-color: var(--purple);
}


.navbar-nav {
    margin-left: auto;
}

.nav-item {
    left: 0;
    padding-right: 40px;
}

.nav-link {
    color: var(--azure);
    font-size: 20px;
    font-weight: 600;
}

#toggle-dark-mode {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #333;
    border-radius: 30px;
    cursor: pointer;
    height: 30px;
    width: 60px;
    z-index: 1;
    position: relative;
    display: inline-block;
    margin: 0;
}

#toggle-dark-mode:before {
    content: "";
    background-image: url(images/sun.png);
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease-in;
}

#toggle-dark-mode:checked {
    background: #1b1b1b;
}

#toggle-dark-mode:checked:before {
    background-image: url(images/moon.png);
    filter: invert(95%) hue-rotate(180deg);
    left: 32px;
}

#toggle-dark-mode:checked~.container {
    background-color: #f1f1f1;
    color: #eee;
}

/* Additional styles to match the nav-link appearance */
.nav-link input[type="checkbox"] {
    display: none;
}

.nav-link {
    display: flex;
    align-items: center;
}


.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--indigo);
}

.hero {
    gap: 10px;
    height: 100vh;
    padding: 0 5% 0 5%;
    width: 100%;
    max-height: 90vh;
    z-index: 9999;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background: hsla(0, 0%, 6%, .9);
    color: var(--azure);
}

.hero .item1 {
    color: var(--white);
    margin-bottom: 50px;
    z-index: 4;
}

.hero .item1 .txt1,
.item1 h5 {
    font-size: 40px;
    font-weight: 700;
    color: var(--azure);
}

.hero .item1 .txt1 {
    color: var(--white);
}

.hero .item1 .txt2 {
    animation: typing 4s steps(40) infinite, blink-caret .75s step-end infinite;
    border-right: .15em solid --indigo;
    color: var(--indigo);
    font-size: 40px;
    font-weight: 800;
    overflow: hidden;
    white-space: nowrap
}

@keyframes typing {
    0% {
        width: 0
    }

    70% {
        width: 100%
    }

    to {
        width: 0
    }
}

@keyframes blink-caret {

    0%,
    to {
        border-color: transparent
    }

    50% {
        border-color: #606ff1
    }
}

.hero .item1 h1 {
    font-size: 85px;
    font-weight: 700
}

.hero .item1 p {
    margin-top: 2rem;
    line-height: 180%;
    font-size: 1.4rem;
}

.hero .item2 {
    color: #fff;
    margin-bottom: 50px
}

.hero .ellipse,
.item2 {
    position: relative
}

.hero .ellipse {
    animation: pulsate 5s infinite;
    background-color: var(--azure);
    border: 32px solid var(--purple);
    border-radius: 50%;
    filter: blur(40px);
    height: 450px;
    aspect-ratio: 1/1;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -65%);
    z-index: 1
}

@keyframes pulsate {
    0% {
        opacity: 1;
        border-radius: 61% 39% 50% 50% / 40% 38% 62% 60%;
    }

    50% {
        opacity: .7;
        transform: translate(-50%, -65%) scale(1.15)
    }

    to {
        opacity: 1;
        transform: translate(-50%, -65%) scale(1)
    }
}

.hero .image1 {
    height: 555px;
    left: 50%;
    top: 65%;
    z-index: 3
}

.hero .image1,
.image2 {
    position: absolute;
    transform: translate(-50%, -50%)
}

.hero .image2 {
    filter: blur(1px);
    height: 750px;
    left: 45%;
    top: 85%;
    width: auto;
    z-index: 2
}

.hero .item3 {
    color: #fff;
    margin: 50px 0;
    z-index: 5
}

.hero .item3 .socials {
    color: #8450c0;
    font-size: 50px;
    padding-right: 30px;
    transition: shadow .3s ease, color .3s ease
}

.hero .item3 .socials:hover {
    text-shadow: 0 0 2.5rem #d400ff, 0 0 5.5rem #d400ff, 0 0 6rem #d400ff, 0 0 9.5rem #d400ff
}

.button1 {
    background-color: #4040b1;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    height: 4rem;
    min-height: min-content;
    line-height: 2rem;
    margin: 50px 0;
    padding: 0 50px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease;
}

.button1:hover {
    background-color: #606ff1;
    text-shadow: 0 0 2.5rem #d400ff, 0 0 5.5rem #d400ff, 0 0 6rem #d400ff, 0 0 9.5rem #d400ff;
    transform: scale(1.05);
    box-shadow:
        4px 4px .6rem rgba(212, 0, 255, 0.4),
        0 0 2rem rgba(212, 0, 255, 0.3),
        0 0 3rem rgba(212, 0, 255, 0.2),
        0 0 4rem rgba(212, 0, 255, 0.1);
    text-shadow:
        -1px -1px 0 #d400ff,
        1px -1px 0 #d400ff,
        -1px 1px 0 #d400ff,
        1px 1px 0 var(--darkviolet);
}

.button1:active {
    background-color: #5050d1;
    transform: scale(.95)
}


.hover-text {
    transition: all 0.3s ease-in;
}

.hover-text:hover {
    filter: drop-shadow(8px 8px 5px var(--purple));
    transform: scale(1.1);
    cursor: default;
    z-index: 9999;
}


.divider {
    border: 5px solid var(--azure);
    width: 100%;
}

.about__section {
    background-color: var(--dark);
    flex-direction: column;
    height: 120vh;
    z-index: 2;
}

.about__section,
.about__section .heading {
    display: flex;
    justify-content: center
}

.about__section .heading {
    align-items: center;
    margin-bottom: 3rem;
}

.showcase-container {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
        "intro skills"
        "education experience"
        "education experience";
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    color: var(--white);
    text-align: start;
    padding: 3rem;
    margin: 0 5rem;
    font-size: 1rem;
}

.showcase-container h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;

}

.intro {
    grid-area: intro;
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-self: center;
    align-items: start;
    text-align: start;
    line-height: 180%;
    font-size: 1.2rem;
}

.education {
    grid-area: education;
    width: 60%;
    flex-direction: column;
    justify-self: center;
    align-items: start;
    text-align: start;
    font-size: 1rem;
}

.skills {
    grid-area: skills;
    width: 60%;
    flex-direction: column;
    justify-self: center;
    align-items: start;
    text-align: start;
}

.skills img {
    height: 40px;
    aspect-ratio: 1/1;
    margin: 1rem;
    z-index: 99999;
}

.skills .tooltip-container {
    position: relative;
    display: inline-block;
}


.skills .tooltip-text {
    visibility: hidden;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    background: var(--violet);
    border: 1px solid var(--violet);
    border-radius: 8px;
    box-shadow: 0 4px 30px var(--purple);
    color: #fff;
    font-weight: 500;
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    bottom: -20%;
    left: 50%;
    white-space: nowrap;
    transition: all 0.2s ease-in;
}

.skills .tooltip-container:hover .tooltip-text {
    visibility: visible;
    transform: translateX(30%);
    z-index: 99;
}

.experience {
    grid-area: experience;
    width: 60%;
    flex-direction: column;
    justify-self: center;
    align-items: start;
    text-align: start;
    line-height: 180%;
    font-size: 1.4rem;
}

.section__cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 5rem;
    font-family: 'Readex Pro';
    font-weight: 900;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background: hsla(0, 0%, 6%, .9);
    color: var(--azure);
    padding: 0 5% 0 5%;
    text-align: center;
    z-index: 0;
}


.section__cover .about {
    color: var(--azure);
}

.section__cover .about2 {
    color: var(--purple);
}

.project__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background: hsla(0, 0%, 6%, .9);
    color: var(--azure);
    padding: 0 5% 0 5%;
    text-align: center;
    z-index: 0;
    gap: 1.5rem;
}

.project__section .row {
    width: 100%;
}

.project__card {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    text-align: start;
    padding: 1rem;
    line-height: 1.333;
    max-width: 80%;
    height: 100%;
    color: var(--white);
    border-radius: 8px;
}

.project__card p,
h2 {
    filter: drop-shadow(8px 8px 5px var(--purple));
}

.project__card h2 {
    color: var(--indigo);
    font-weight: bolder;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.project__card p {
    font-size: 1.3rem;
    line-height: 180%;
    width: 100%;
}

/* tabs */
.tabs__container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
}

.input {
    position: absolute;
    opacity: 0;
}

.label {
    width: auto;
    padding: 20px 30px;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    background: var(--violet);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: var(--azure);
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: background 0.1s, color 0.1s;
    order: 1;
    cursor: pointer;
    z-index: 9999;
}

.label:hover {
    background: var(--azure);
    color: var(--darkviolet);
}

.label:active {
    background: #fff;
}

.input:focus+.label {
    z-index: 1;
    background: #fff;
}

.input:checked+.label {
    background: var(--purple);
    color: var(--white);
    font-size: 1.5rem;
}

.panel {
    display: none;
    padding: 2rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 4px 30px var(--purple);
    color: var(--white);
    width: 100%;
    height: fit-content;
    order: 2;
    color: var(--violet);
}

.input:checked+.label+.panel {
    display: block;
    background: var(--purple);
    color: var(--white);
}

.panel img {
    border-radius: 10px;
    max-height: 90%;
    transition: all 0.3s ease-in-out;
}

.panel3 img {
    max-width: 95%;
}

.panel img:hover {
    transform: scale(1.02);
}

/* tabs */

.contact__section {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background: hsla(0, 0%, 6%, .9);
    color: var(--azure);
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    padding: 0 4rem;
    text-align: start;
    z-index: 1
}

.contact__section,
.contact__section .heading {
    display: flex;
    justify-content: center
}

.contact__section .heading {
    align-items: center;
    margin: 100px 0;
}

.contact__section .about,
.contact__section .about2 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    margin-right: 10px
}

.contact__section .about2 {
    color: #606ff1
}

.contact__section .leftBox {
    color: #fff;
    height: auto;
    margin: 10px;
    padding: 20px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

.leftBox h1 {
    margin-bottom: 1rem;
}

.leftBox a {
    font-size: 1.2rem;
    margin-bottom: 50px;
    padding: 10px;
    text-decoration: none
}

#buttons {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-bottom: 30px;
}

#introText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #606ff1;
    font-size: 24px;
    text-align: center;
    font-family: 'Impact', sans-serif;
    z-index: 10;
    /* Ensure the text is above the canvas */
}

.contact__section .form {
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    background: var(--violet);
    border: 1px solid var(--violet);
    border-radius: 8px;
    box-shadow: 0 4px 30px var(--purple);
    color: #fff;
    width: 90%;
    height: auto;
    padding: 20px 30px;
}

.form h2 {
    border-bottom: 3px solid #606ff1;
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px
}

.form input {
    background: none;
    border: 0;
    border-bottom: 2px solid #d2d9fd;
    box-sizing: border-box;
    color: #fff;
    font-family: "Readex Pro";
    outline: none;
    padding: 10px;
    resize: none;
    transition: all .3s;
    width: 100%
}

.form input:focus {
    border-bottom: 2px solid #606ff1
}

.form p:before {
    content: attr(type);
    display: block;
    font-size: 14px;
    margin: 28px 0 0
}

.form button {
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    background: #9747ff;
    border: 1px solid rgba(177, 140, 190, .25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    color: #fff;
    cursor: pointer;
    float: right;
    font-weight: 400;
    margin: 4px 0 0;
    padding: 16px 28px;
    transition: all .3s
}

.form button:hover {
    background: #5050d1;
    color: #fff
}

.form div {
    background: #50505a;
    border-radius: 6px;
    bottom: -15px;
    box-shadow: 10px 10px 40px -14px #000;
    color: #fff;
    content: "Hi";
    font-size: 13px;
    padding: 16px 4px 16px 0;
    position: absolute;
    right: -20px;
    width: 320px
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
    .wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navbar-brand {
        font-size: 24px;
    }

    .navbar-toggler {
        font-size: 1rem;
    }

    .nav-item {
        padding: 0 20px;
    }

    .nav-link {
        font-size: 16px;
    }

    .hero {
        height: 100%;
        width: 100%;
        max-height: 100%;
        padding: 0 5%;
    }

    .hero .item1 h1 {
        font-size: 3rem;
    }

    .hero .item1 .txt1,
    .item1 .txt2 {
        font-size: 1.5rem;
    }

    .hero .item1 p {
        font-size: 1.2rem;
    }

    .hero .image1 {
        height: 400px;
    }

    .hero .image2 {
        height: 400px;
    }

    .hero .ellipse {
        height: 400px;
        aspect-ratio: 1/1;
    }

    .button1 {
        font-size: 18px;
        padding: 0 30px;
        z-index: 9999;

    }

    .section__cover {
        display: none;
    }

    .about__section {
        height: 100%;
        width: 100%;
        padding: 0 5%;
    }

    .showcase-container {
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "intro"
            "education"
            "experience"
            "skills";
        padding: 0;
        margin: 0;
        height: auto;
    }

    .showcase-container h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .intro,
    .education,
    .skills,
    .experience {
        width: 100%;
        font-size: 1rem;
    }

    .education li {
        font-size: .875rem;
    }

    .showcase-container .logo-slider {
        white-space: wrap;
    }

    .showcase-container .logos {
        height: 40px;
        aspect-ratio: 1/1;
        margin-right: 2.5rem;
        position: relative;
    }

    .project__section {
        height: 100%;
        width: 100%;
        align-items: center;
        padding: 0 5%;
        margin: 0;
        padding: 0;
    }

    .project__section .project__card {
        width: 100%;
        padding: 0 5%;
        margin: 0;
    }

    .project__section .tabs__container {
        display: none;
    }

    .project__section h2 {
        font-size: 2rem;
    }

    .project__section p {
        font-size: 1rem;
    }

    .button1 {
        font-size: 1rem;
        height: 40px;
        width: 180px;
    }

    .contact__section {
        height: 100%;
        max-height: 100%;
        padding: 0 5%;
        margin: 0;
        justify-content: center;
        align-content: center;
    }

    .contact__section a {
        margin-bottom: 1rem;
        padding: 0;
    }

    .contact__section .leftBox {
        font-size: 1.2rem;
        padding: 0 1rem;
    }

    .contact__section .leftBox h2 {
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .contact__section .form {
        width: 100%;
        aspect-ratio: 2/1;
    }

    .contact__section .heading {
        display: none;
    }
}

/* For tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    .navbar-brand {
        font-size: 3rem;
    }

    .navbar-toggler {
        font-size: 1.5rem;
    }

    .nav-item {
        padding-right: 2rem;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    .hero {
        height: 100%;
        max-height: 100%;
        padding: 0 5%;
    }

    .hero .item1 h1 {
        font-size: 65px;
    }

    .hero .item1 .txt1,
    .item1 .txt2 {
        font-size: 32px;
    }

    .hero .item1 p {
        font-size: 18px;
    }

    .hero .image1 {
        height: 450px;
    }

    .hero .image2 {
        height: 600px;
    }

    .section__cover {
        display: none;
    }

    .about__section {
        height: 100%;
    }

    .button1 {
        font-size: 20px;
        padding: 0 40px;
    }

    .about__section,
    .project__section,
    .contact__section,
    .section__cover {
        height: 100%;
    }



    .showcase-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "intro skills"
            "education experience"
            padding: 2rem;
        margin: 0 3rem;
        font-size: 0.9rem;
        height: auto;
        /* Allow container height to adjust based on content */
    }

    .showcase-container h2 {
        font-size: 2.5rem;
        margin-bottom: 1.2rem;
    }

    .intro,
    .education,
    .skills,
    .experience {
        width: 100%;
        align-items: start;
        text-align: start;
        font-size: 1.2rem;
    }

    .experience {
        font-size: 1.5rem;
    }

    .ellipse {
        height: 250px;
    }

    .contact__section {
        max-height: 100%;
        width: 100%;
        margin: 0;
    }


    .contact__section .leftBox {
        width: 100%;
    }

    .contact__section .leftBox h2 {
        font-size: 3rem;
        width: 100%;
    }

    .contact__section .leftBox p {
        font-size: 1.5rem;
        padding-bottom: 0;
    }

    .contact__section .leftBox a {
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    .contact__section .form {
        width: 100%;
        margin-bottom: 3rem;
    }
}